<div class="container">
	<div class="row">
		<div class="col-md-3 mt-50">
			<% if @user.picture.nil?  %>
            	<%= image_tag "picto_base.png", height: 200, width: 200, crop: :fill, class: "img-responsive" %>
            
          	<% else %>
            	<%= cl_image_tag @user.picture.path, height: 200, width: 200, crop: :fill, class: "img-responsive" %>
          	<% end %>
          	<% if @user == current_user %>
          		<%= link_to "Modifier mon Profil", edit_user_registration_path, class:"btn btn-primary"  %>
				<% if @user.experiences.count == 0 %>

					<%= link_to "Ajouter une Experience", new_user_experience_path(@user), class:"btn btn-primary mt-20" %>
				<% end %>
          	<% end %>

		</div>

		<div class="col-md-9 mt-50">
			<h2><%= @user.first_name %> <%= @user.last_name %></h2>
			<% if @user.is_realestate == true %>
				<p>Conseiller immobilier</p>
			<% end %>
			<% if @user.description? %>
				<div class="col-md-3 pl-0">
					<p style="font-weight:bold">A propos de <%= @user.first_name %></p>
				</div>
				<div class="col-md-9">
					<p><%= @user.description %></p>
				</div>
			<% end %>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			
		</div>
		<% if @user.experiences.count > 0 %>
			<div class="col-md-7">
				<h3 class="mb-20">Mes experiences 
					<small>
						(<%= @user.experiences.count %>)
					</small>
				</h3>
			</div>
			<div class="col-md-1">
				<% if @user == current_user %>
					<%= link_to new_user_experience_path(@user) do %>
						<i class="fa fa-plus" aria-hidden="true"></i>
					<% end %>
				<% end %>
			</div>
		
			<% @user.experiences.each do |experience| %>
				<%= render "experience-card", experience: experience %>
			<% end %>
		<% end %>
	
</div>