<div class="container">
	<div class="row">
		<div class="col-md-3 mt-50">
			<% if @user.picture.nil?  %>
            	<%= image_tag "picto_base.png", height: 200, width: 200, crop: :fill, class: "img-responsive" %>
            
          	<% else %>
            	<%= cl_image_tag @user.picture.path, height: 200, width: 200, crop: :fill, class: "img-responsive" %>
          	<% end %>
          	<% if @user == current_user %>
          		<%= link_to "Modifier mon Profil", edit_user_registration_path, class:"btn btn-primary"  %>
          	<% end %>
		</div>
		<div class="col-md-9 mt-50">
			<h2><%= @user.first_name %> <%= @user.last_name %></h2>
			<% if @user.is_realestate == true %>
				<p>Conseiller immobilier</p>
			<% end %>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-7">
			<h3 class="mb-20">Mes experiences</h3>
		</div>
		<div class="col-md-1">
			<% if @user == current_user %>
					<%= link_to new_user_experience_path(@user) do %>
						<i class="fa fa-plus" aria-hidden="true"></i>
					<% end %>
				<% end %>
	</div>
	
		<% @user.experiences.each do |experience| %>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-1">
					<% if experience.logo.present? %>
						<%= cl_image_tag experience.logo.path,height: 200, width: 200, crop: :fill, class: "img-responsive" %>
					<% end %>
				</div>

				<div class="col-md-6">
					<p style="font-weight:bold"><%= experience.title %></p>
					<p><%= experience.company %></p>
					<p><%= experience.start_month%> <%= experience.start_year%>
					-
						<% if experience.currently_work == true %>
							Aujourd'hui 
						<% else %>
							<%= experience.end_month %> <%= experience.end_year %>
						<% end %>
					</p>
					<p><%= experience.city %></p>
					<div class="subtitle-experiences"></div>
				</div>
				<div class="col-md-1">
					<% if @user == current_user %>
						<%= link_to edit_user_experience_path(experience.user, experience) do %>
							<i class="fa fa-pencil" aria-hidden="true"></i>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>