<div class="container">
    <h2 class="text-center mb-50">Quel est le bien que vous souhaitez presenter? </h2>
    <%= simple_form_for @sale, html: { class: 'template-form' } do|f| %>
        <div class="form-group">

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <%= f.input :phase, collection: Sale::PHASE, prompt:"Votre bien est-il à vendre ou vendu?", input_html: {class: "color_grey"}, label:false %>
                <%= f.input :title, placeholder:"Titre du bien", label:false %>
                <%= f.input :description, placeholder:"Indiquez un texte publicitaire", label:false,input_html: { rows: 5 } %>

            <div class="mb-20"></div>
            <div class="form-inputs text-center">
                <%= f.label 'Type de bien', class: 'form-title' %>
                <div class="mb-20"></div>
            	<div class="row">
                    <div class="icon-thread">
                        <div class="col-xs-2"></div>
                       	<div class="col-xs-4">
                            <input type="radio" id="building" name="sale[construction]" value="Appartement">
                            	<label for="building" data-toggle="tooltip" title="Appartement">
                                	<%= image_tag 'building.png', class: 'level' %>
                              	</label>
                        </div>
                        <div class="col-xs-4">
                            <input type="radio" id="house" name="sale[construction]" value="Maison" >
                            	<label for="house" data-toggle="tooltip" title="Maison">
                                	<%= image_tag 'house.svg', class: 'level' %>
                              	</label>
                        </div>
                            
                    </div>
                </div>
            </div>
            <div id="price">
        	   <%= f.input :price, placeholder:"Prix du bien", label:false %>
            </div>
            <div class="text-center">
            <div class="mb-20"></div>
        	<%= f.input :photos, as: :attachinary %>
            </div>
            <br>
        	<%= f.button :submit, class:"btn btn-primary" %>
        </div>
    <% end %>
</div>